<!DOCTYPE html>

<html>

<head>
    <title>Honest Food</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get the nearby Store!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>